html,
body
{
    color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #1A1A1C;
}

#canvas-container
{
    display: flex;
    justify-content: center;
}

canvas
{
    background: #1A1A1C;
    border-right: 1px solid #4E4E50;
    border-left: 1px solid #4E4E50;
}

canvas.try-hoodie 
{
    -webkit-mask-image: url('assets/hoodie_mask.png');
}

#settings
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}